<div class="ui inverted menu">
    <a href="{{ route('my-reports') }}" class="item">My reports</a>
    <a href="{{ route('add-report') }}" class="item">Add report</a>
    <a href="index.php?logout" class="item">Logout</a>
</div>